:root {
  /* colour palette */
  --white: #ffffff;
  --gray_light: #999999;
  --gray_dark: #333333;
  --black: #2d2d2a;
  --green_blue: #04a777;
  --green_transparent: #88d49840;
  --red: #ff3654;

  /* font families */
  --font_default: Roboto, sans-serif;
  --font_alt: Dosis, sans-serif;
  --font_logo: Pacifico, cursive;

  /* default background_image for extra small devices (phones, less than
   768px) */
  --background_image: url(images/header-bg-green-640w.jpg);
}

/* Small devices (tablets and up) */
@media (min-width: 768px) {
  :root{
    --background_image: url(images/header-bg-green-768w.jpg);
  }

  .reasons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 40vh 2rem 2rem 2rem;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  .wrapper_footer {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
}

/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  :root {
    --background_image: url(images/header-bg-green-960w.jpg);
  }
}

/* Large devices (large desktops and up) */
@media (min-width: 1200px) {
  :root {
    --background_image: url(images/header-bg-green-1024w.jpg);
  }
}

@media (min-width: 1440px) {
  :root {
    --background_image: url(images/header-bg-green-srcw.jpg);
  }
}

html {
  box-sizing: border-box;
  font-family: var(--font_default);
  font-size: 20px;
  /* height of sticky header */
  /* scroll-padding-top: 70px; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
}

h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.link_to_section {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  border: solid;
  border-color: var(--gray_dark);
  border-radius: 50%;
  margin: 0.5rem 0;
  background-color: var(--gray_light);
  opacity: 0.5;
  /* background-color: transparent; */
}

.link_to_section:hover {
  opacity: 1;
}

/* #page1 { */
/*   background-image: -webkit-image-set(url(images/header-bg-320w.jpg) 1x, */
/*                                       url(images/header-bg-640w.jpg) 2x, */
/*                                       url(images/header-bg-960w.jpg) 3x, */
/*                                       url(images/header-bg-1280w.jpg) 4x, */
/*                                       url(images/header-bg-1440w.jpg) 5x); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/* } */
/* } */

.background_green {
  background-color: var(--green_blue);
  color: var(--white);
}

.background_light {
  background-color: var(--white);
  color: var(--gray_dark);
}

.background_dark {
  background-color: var(--black);
  color: var(--white);
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active {
  font-weight: bold;
}

#pagination_nav {
  position: fixed;
  display: flow-root;
  top: 50vh;
  right: 1rem;
}

#footnotes {
  max-width: 50ch;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#ul_first {
  flex-direction: row;
}

li {
  /* padding: 0 0.5rem; */
  list-style-type: none;
  display: block;
}

/* adapted from https://css-tricks.com/solved-with-css-dropdown-menus/ */

.dropdown > li {
  display: block;
  transition-duration: 0.5s;
  clear: both;
  width: 100%;
  outline: none;
}

.dropdown > li:hover {
  cursor: pointer;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
  background-color: var(--green_blue);
}

.li_first:hover > .dropdown,
.li_first:focus-within > .dropdown,
.dropdown:hover
{
  visibility: visible;
  opacity: 1;
  display: block;
  position: fixed;
  top: 0.8rem;
}

.dropdown > li {
  clear: both;
  width: 100%;
}

.li_first {
  padding: 0 0.5rem;
}

header a {
  color: var(--white);
}

.Logo-Small {
  color: var(--white);
  font-family: var(--font_logo);
  font-size: 24px;
  padding: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper_reason {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

.reason {
  margin: 2rem 0.5rem;
}

.align-right {
  align-self: flex-end;
}

#page1{
  background-image: var(--background_image);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 25vh 10vw;
}

#page1_text{
  margin: 10vh 0;
}

#page2 {
  margin: 6vw;
}

#to_page3 {
  padding: 95px 0;
}

.Paragraph-Default {
  line-height: 1.5;
  color: var(--gray_dark);
}

.Paragraph-Default-Small {
  font-size: 14px;
  line-height: 1.57;
}

.Paragraph-Alt {
  font-weight: 300;
}

.Paragraph-Alt-Medium {
  font-size: 16px;
}

.Heading-Default-3 {
  font-family: var(--font_alt);
  font-size: 36px;
}

.Paragraph-Faint {
  font-weight: 300;
  color: var(--gray_light);
}

.app-mockup {
  /* width: 600px; */
  /* height: 563.5px; */
  object-fit: contain;
  float: right;
}

/* Originally .Button-Default*/
button {
  /* width: 180px; */
  /* height: 19px; */
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  padding: 1em 2em;
  border: none;
}

.Button-Alt-Line {
  /* width: 180px; */
  /* height: 50px; */
  border-radius: 5px;
  border: solid 3px var(--white);
  background-color: transparent;
}

.Button-Default-Fill {
  /* width: 180px; */
  /* height: 50px; */
  border-radius: 5px;
  background-color: var(--red);
}

.Heading-Alt-1 {
  font-family: var(--font_alt);
  font-size: 64px;
}

.Heading-Alt-2 {
  /* width: 1440px; */
  /* height: 60px; */
  font-family: var(--font_alt);
  font-size: 48px;
  text-align: center;
}

.Heading-Alt-3 {
  /* width: 135px; */
  /* height: 43px; */
  font-family: var(--font_alt);
  font-size: 36px;
  color: var(--white);
}

footer {
  /* margin: 5rem 0; */
  margin: 10vh 3vw;
}

:target::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
